.row-hover {
  color: #000;
  transition: background 0.5s linear;
  padding-top: 1em;
}
.row-hover:hover {
  background-color: #d1d1d1;
  transition: background 0.5s linear;
  color: #fff;
  cursor: pointer;
}

hr {
	margin-bottom: 0;
}

#brandLogo {
	padding: 0;
}
#brandLogo img {
	max-height: 2em;
}