<div class="container">

    <!-- ******************* create new application *************************  -->
    <div ng-show="vm.loading == 0 && vm.createApplication">
        <h1 class="display-4">New Application</h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date">Date</label>
                    <input type="datetime-local" class="form-control" id="date" placeholder="date" ng-model="vm.newApp.date">
                </div>
                <div class="form-group col-md-6">
                    <label for="company">Company</label>
                    <input class="form-control" id="company" placeholder="company name" ng-model="vm.newApp.companyName">
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" id="location" placeholder="1234 Main St" ng-model="vm.newApp.jobLocation">
            </div>
            <div class="form-group">
                <label for="applied">Applied Via</label>
                <input class="form-control" id="applied" placeholder="contacted via?" ng-model="vm.newApp.appliedVia">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="resume">Resume</label>
                    <input class="form-control" id="resume" placeholder="version?" ng-model="vm.newApp.resume">
                </div>
                <div class="form-group col-md-3">
                    <label for="cover">Cover Letter</label> <input id="cover" class="form-control" placeholder="version?" ng-model="vm.newApp.coverLetter">
                </div>
                <div class="form-group col-md-6">
                    <label for="notes">Notes</label> <input class="form-control" id="notes" ng-model="vm.newApp.notes">
                </div>
            </div>
            <div class="form-group"></div>
            <button type="submit" class="btn btn-primary" ng-click="vm.newAppSubmit(vm.newApp)">Add
				Application</button>
        </form>
    </div>

    <!-- ******************* index view of applications *************************  -->
    <div class="mt-3" ng-hide="vm.loading == 1 || vm.applicationSelected" ng-show="!vm.createApplication">
        <h1 class="display-4">Submitted Applications</h1>
        <hr>
        <div class="row-hover" ng-repeat="app in vm.applications">
	        <div class="row">
	            <div class="col-sm-3 lead" ng-click="vm.setSelected(app)">{{app.date | date:'EEE MMM d, y' : 'UTC'}}</div>
	            <div class="col-sm-6 lead" ng-click="vm.setSelected(app)">{{app.companyName}}, {{app.jobLocation}}</div>
	            <div class="col-sm-1 btn btn-danger" ng-click="vm.deleteSelected(app)">X</div>
	
	            <div ng-repeat="res in app.responses">
	                <div class="col-sm-3">Interview Request: {{res.interviewRequested}}
	                </div>
	            </div>
	        </div>
        <hr ng-if="!$last">
        </div>
    </div>

    <!-- ******************* detail view of application with responses and interviews *************************  -->
    <div ng-show="vm.loading == 0 && vm.applicationSelected">
        <h1 class="display-4">{{vm.applicationSelected.companyName}} Application</h1>
        <button class="btn btn-outline-primary" ng-click="vm.setUpateApplication(vm.applicationSelected)">Update {{vm.applicationSelected.companyName}}</button>
        <div class="row">
            <div class="col-sm-4">Date Applied: {{vm.applicationSelected.date | date:'EEE MMM d, y h:mm a' : 'UTC'}}</div>
            <div class="col-sm-4">Company: {{vm.applicationSelected.companyName}}</div>
            <div class="col-sm-4">Location: {{vm.applicationSelected.jobLocation}}</div>
        </div>

        <div class="row">
            <div class="col-sm-4">Applied Via: {{vm.applicationSelected.appliedVia}}</div>
            <div class="col-sm-4">Resume Sent: {{vm.applicationSelected.resume}}</div>
            <div class="col-sm-4">Cover Letter Sent: {{vm.applicationSelected.coverLetter}}</div>
        </div>

        <div class="row">
            <div ng-repeat="res in vm.applicationSelected.responses">
                <div class="col-sm-4">Date: {{res.date}}</div>
                <div class="col-sm-4">Name: {{res.name}}</div>
                <div class="col-sm-4">Email: {{res.email}}</div>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="res in vm.applicationSelected.responses">
                <div class="col-sm-4">Phone: {{res.phone}}</div>
                <div class="col-sm-4">Interview Request: {{res.interviewRequested}}
                </div>
                <div class="col-sm-4">Notes: {{res.notes}}</div>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="int in vm.applicationSelected.interviews">
                <div class="col-sm-4">Date: {{int.date}}</div>
                <div class="col-sm-4">Name: {{int.name}}</div>
                <div class="col-sm-4">Email: {{int.email}}</div>
            </div>
        </div>
        <hr>
    </div>
    
    <!-- ******************* update application *************************  -->
    <div ng-show="vm.loading == 0 && vm.upateApplication">
        <h1 class="display-4">Update Application</h1>
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="date">Date</label>
                    <input type="datetime-local" class="form-control" id="date" ng-model="vm.updateApp.date">
                    
                </div>
                <div class="form-group col-md-6">
                    <label for="company">Company</label>
                    <input class="form-control" id="company" ng-model="vm.updateApp.companyName">
                </div>
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" id="location" ng-model="vm.updateApp.jobLocation">
            </div>
            <div class="form-group">
                <label for="applied">Applied Via</label>
                <input class="form-control" id="applied"  ng-model="vm.updateApp.appliedVia">
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="resume">Resume</label>
                    <input class="form-control" id="resume" ng-model="vm.updateApp.resume">
                </div>
                <div class="form-group col-md-3">
                    <label for="cover">Cover Letter</label> 
                    <input id="cover" class="form-control" ng-model="vm.updateApp.coverLetter">
                </div>
                <div class="form-group col-md-6">
                    <label for="notes">Notes</label> 
                    <input class="form-control" id="notes" ng-model="vm.updateApp.notes">
                </div>
            </div>
            <div class="form-group"></div>
            <button type="submit" class="btn btn-primary" ng-click="vm.updateAppSubmit(vm.updateApp)">
            		Update Application</button>
        </form>
    </div>

    <!-- **************** only show while waiting for server response *************************** -->
    <div id="loading" ng-show="vm.loading == 1">
        <p class="display-3 text-center">Collecting Applications</p>
        <img class="img-fluid mx-auto d-block" src="./img/catLoader.gif">
    </div>
</div>
